[submodule "vendor/iniparser"]
	path = vendor/iniparser
	url = https://github.com/ndevilla/iniparser
[submodule "vendor/json/parser"]
	path = vendor/json/parser
	url = https://github.com/udp/json-parser/
[submodule "vendor/json/builder"]
	path = vendor/json/builder
	url = https://github.com/udp/json-builder
